
body {
    font-family: 'calibri', 'arial';
}

.board {
    background-color: #FFD302;
    padding: 20px;
    margin: 20px;
    float:left;
    
    -webkit-box-shadow: 10px 10px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 3px 0px rgba(0,0,0,0.5);
}

.board .banner {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

.cell {
    width: 112px;
    height: 112px;
    background: #FFE9B7;
    border: 2px black solid;
}

.cell.free {
    background: white;
}

.select {
    position: relative;
    margin-top: -112px;
    display: none;
}

.show {
    display: block;
}